// Point the asset pipline to the correct locations
$theme-font-path: "uswds/dist/fonts";
$theme-image-path: "uswds/dist/img";

$theme-show-notifications: false;

// Put your USWDS Theme settings here
