@use "uswds-core" with (
  // Point the asset pipline to the correct locations
  // empty strings are on purpose to override the defaults
  $theme-font-path: "",
  $theme-image-path: "",

  $theme-show-notifications: false,

  // Put your USWDS Theme settings here

);
