<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= camelized %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>

    <%%= stylesheet_link_tag 'application', media: 'all' %>
    <%%= javascript_pack_tag 'application' %>
    <%%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <%%= render "application/usa_banner" %>
    <main id="main-content">
      <div class="grid-container usa-section">
        <%%= yield %>
      </div>
    </main>
  </body>
</html>
