#!/usr/bin/env bash

if [ -f terraform.tfstate ]; then
  echo "Not overwriting existing state, remove terraform.tfstate manually first"
  exit 1
fi

terraform init
%{ for resource_name, id in import_map ~}
terraform import '${resource_name}' ${id}
%{ endfor ~}
terraform apply
